[submodule "scripts/superpoint/SuperPointPretrainedNetwork"]
	path = scripts/superpoint/SuperPointPretrainedNetwork
	url = https://github.com/magicleap/SuperPointPretrainedNetwork
[submodule "scripts/superglue/SuperGluePretrainedNetwork"]
	path = scripts/superglue/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "scripts/loftr/LoFTR"]
	path = scripts/loftr/LoFTR
	url = https://github.com/xmba15/LoFTR
